[submodule "hardfloat"]
	path = dependencies/hardfloat
	url = https://github.com/ucb-bar/berkeley-hardfloat.git
[submodule "cde"]
	path = dependencies/cde
	url = https://github.com/chipsalliance/cde.git
